<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_pacientes.css') }}">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo-wrapper">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="sidebar logo-icon">
            </div>
        </aside>

        <div class="form-container">
            <h1>Editar paciente</h1>
            
            <div class="form-box">    
                <form method="POST" action="/admin/pacientes/editar">
                    <label for="nombre">Nombre completo:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label for="medico">Médico que atiende:</label>
                    <input type="text" id="medico" name="medico" required>

                    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>

                    <label for="enfermedades">Enfermedades crónicas:</label>
                    <input type="text" id="enfermedades" name="enfermedades" placeholder="(Opcional)">

                    <label for="alergias">Alergias:</label>
                    <input type="text" id="alergias" name="alergias" placeholder="(Opcional)">

                    <label for="antecedentes">Antecedentes familiares:</label>
                    <input type="text" id="antecedentes" name="antecedentes" placeholder="(Opcional)">

                    <div class="form-buttons">
                        <button type="submit" class="guardar">Guardar</button>
                        <a href="/pacientes" class="cancelar">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
