<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agregar médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Medicos/AgregarEditarMedico.css') }}">
</head>

<body>
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <div class="logo-wrapper">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="sidebar-iconLogo">
            </div>
        </aside>

        <div class="form-container">
            <h1>Agregar médico</h1>


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                        {{ message }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}


            <div class="form-box">
                <form method="POST" action="{{ url_for('doctores_agregar') }}">
                    <label for="rfc">RFC:</label>
                    <input type="text" id="rfc" name="rfc" required>

                    <label for="nombrecompleto">Nombre completo:</label>
                    <input type="text" id="nombrecompleto" name="nombrecompleto" required>

                    <label for="cedulaprofesional">Cédula Profesional:</label>
                    <input type="text" id="cedulaprofesional" name="cedulaprofesional" required>

                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo" required>

                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" required>

                    <label for="idrol">Rol:</label>
                    <select id="idrol" name="idrol" required>
                        <option value="" disabled selected>Seleccione un rol</option>
                        {% for rol in roles %}
                            <option value="{{ rol.0 }}">{{ rol.1 }}</option>
                        {% endfor %}
                    </select>

                    <div class="form-buttons">
                        <button type="submit" class="guardar">Guardar</button>

                        <a href="{{ url_for('doctores') }}" class="cancelar">Cancelar</a>

                            <a href="{{ url_for('doctores') }}" class="cancelar">Cancelar</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>