{% extends "dashboards.html" %}

{% block title %}Administración de Médicos{% endblock %}

{% block header %}
    <h1>Administración de Médicos</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
    {% endwith %}
    <a href="{{ url_for('doctores_agregar') }}" class="btn-agregar">Agregar</a>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Medicos/medicos.css') }}">
{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>RFC</th>
            <th>Correo</th>
            <th>Cédula Profesional</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for medico in medicos %}
        <tr>
            <td>{{ medico.idmedico }}</td>
            <td>{{ medico.nombrecompleto }}</td>
            <td>{{ medico.rfc }}</td>
            <td>{{ medico.correo }}</td>
            <td>{{ medico.cedulaprofesional }}</td>
            <td>{{ medico.rol }}</td>
            <td>
                <button class="btn-editar"><a
                        href="{{ url_for('medicos_editar', medico_id=medico.idmedico) }}">Editar</a></button>
                <button class="btn-eliminar"
                    onclick="showDeleteConfirmationMedico({{ medico.idmedico }})">Eliminar</button>
                <form id="deleteFormMedico-{{ medico.idmedico }}"
                    action="{{ url_for('medicos_eliminar', medico_id=medico.idmedico) }}" method="POST"
                    style="display:none;"></form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">No hay médicos activos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<div id="confirmationModalMedico" class="modal">
    <div class="modal-content">
        <p>¿Estás seguro de que quieres eliminar este médico?</p>
        <div class="modal-buttons">
            <button id="confirmDeleteBtnMedico" class="btn-confirm">Sí, Eliminar</button>
            <button id="cancelDeleteBtnMedico" class="btn-cancel">Cancelar</button>
        </div>
    </div>
</div>


<script>
    let currentMedicoIdToDelete = null;
    const confirmationModalMedico = document.getElementById('confirmationModalMedico');
    const confirmDeleteBtnMedico = document.getElementById('confirmDeleteBtnMedico');
    const cancelDeleteBtnMedico = document.getElementById('cancelDeleteBtnMedico');

    function showDeleteConfirmationMedico(medicoId) {
        currentMedicoIdToDelete = medicoId;
        confirmationModalMedico.style.display = 'flex';
    }

    confirmDeleteBtnMedico.onclick = function () {
        if (currentMedicoIdToDelete) {
            const form = document.getElementById(`deleteFormMedico-${currentMedicoIdToDelete}`);
            if (form) {
                form.submit();
            }
        }
        confirmationModalMedico.style.display = 'none';
    }

    cancelDeleteBtnMedico.onclick = function () {
        confirmationModalMedico.style.display = 'none';
        currentMedicoIdToDelete = null;
    }

    window.onclick = function (event) {
        if (event.target == confirmationModalMedico) {
            confirmationModalMedico.style.display = 'none';
            currentMedicoIdToDelete = null;
        }
    }
</script>
{% endblock %}

