{% extends "formularios_base.html" %}

{% block title %}Agregar Paciente{% endblock %}

{% block content %}
            <h1>Agregar paciente</h1>


            <div class="form-box">
                <form method="POST" action="{{ url_for('pacientes.pacientes_agregar') }}">
                    <label for="nombrecompleto">Nombre completo:</label>
                    <input type="text" name="nombrecompleto" class="form-control" value="{{ datos.nombrecompleto }}">
                    {% if errores.nombrecompleto %}
                    <small class="text-danger" style="color: red;">{{ errores.nombrecompleto }}</small>
                    {% endif %}


                    {# The physician selection field has been removed, as it is automatically assigned #}
                    {# <label for="idmedico">Médico que atiende:</label> #}
                    {# <select id="idmedico" name="idmedico" required> #}
                        {# <option value="" disabled selected>Seleccione un médico</option> #}
                        {# {% for medico in medicos %} #}
                        {# <option value="{{ medico.idmedico }}">{{ medico.nombrecompleto }}</option> #}
                        {# {% endfor %} #}
                        {# </select> #}

                    <label for="fechanacimiento">Fecha de nacimiento:</label>
                    <input type="date" name="fechanacimiento" class="form-control" value="{{ datos.fechanacimiento }}">
                    {% if errores.fechanacimiento %}
                    <small class="text-danger" style="color: red;">{{ errores.fechanacimiento }}</small>
                    {% endif %}


                    <label for="enfermedadescronicas">Enfermedades crónicas:</label>
                    <input type="text" id="enfermedadescronicas" name="enfermedadescronicas" placeholder="(Opcional)" value="{{ datos.enfermedadescronicas if datos else '' }}"> 

                    <label for="alergias">Alergias:</label>
                    <input type="text" id="alergias" name="alergias" placeholder="(Opcional)" value="{{ datos.alergias if datos else '' }} ">

                    <label for="antecedentesfam">Antecedentes familiares:</label>
                    <input type="text" id="antecedentesfam" name="antecedentesfam" placeholder="(Opcional)" value="{{ datos.antecedentesfam if datos else '' }}">

                    <div class="form-buttons">
                        <button type="submit" class="guardar">Guardar</button>
                        <a href="{{ url_for('pacientes.pacientes') }}" class="cancelar">Cancelar</a> <!--  Endpoint con blueprint-->
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}