<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Citas del paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pacientes/citas_paciente.css') }}">
</head>
<body>
    <div class="container">
       <!-- Barra lateral -->
        <aside class="sidebar">
        <div class="logo-wrapper">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="sidebar-iconLogo">
        </div>
            <img src="{{ url_for('static', filename='img/usuario.png') }}" alt="Usuarios" class="sidebar-icon">
            <img src="{{ url_for('static', filename='img/CerrarSesion.png') }}" alt="Salir" class="sidebar-iconSalir logout">
        </aside>

        <!-- Main content -->
        <main class="main">
            <header class="header">
                <h1>Citas del paciente </h1>
                <a href="/pacientes/agregar" class="btn-agregar">Agregar</a>
            </header>

            <h3>Buscador</h3>
            <div class="buscador">
                <input type="text" id="buscador" placeholder="Buscar cita...">
               <button class="btn-buscar"><img src="{{ url_for('static', filename='img/lupa.png') }}" alt="Buscar"></button> 
            </div>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Peso</th>
                        <th>Temperatura</th>
                        <th>Latidos por minuto</th>
                        <th>Glucosa</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for _ in range(5) %}
                    <tr>
                        <td>1</td>
                        <td>1990-05-10</td>
                        <td>60 kg</td>
                        <td>34 C</td>
                        <td>120</td>
                        <td>10</td>
                        <td>21</td>
                        <td>
                            <button class="btn-editar"><a>Editar</a></button>
                            <button class="btn-explorar"><a>Diagnóstico</a></button>
                            <button class="btn-descargar"><a>Descargar receta</a></button>
                            <button class="btn-eliminar">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>