<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Citas del paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pacientes/citas_paciente.css') }}">
</head>

<body>
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <div class="sidebar-top">
                <div class="logo-wrapper">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="sidebar-iconLogo">
                </div>
                <a href="{{ url_for('pacientes') }}">
                    <img src="{{ url_for('static', filename='img/usuario.png') }}" alt="Usuarios" class="sidebar-icon">
                </a>
                {% if session['rol'] == 'Admin' %}
                <a href="{{ url_for('doctores') }}">
                    <img src="{{ url_for('static', filename='img/doctores.png') }}" class="sidebar-icon" alt="Doctores">
                </a>
                {% endif %}
            </div>

            <div class="sidebar-bottom">
                <a href="{{ url_for('Salir') }}">
                    <img src="{{ url_for('static', filename='img/CerrarSesion.png') }}" alt="Salir"
                        class="sidebar-iconSalir logout">
                </a>

            </div>
        </aside>

        <!-- Main content -->
        <main class="main">
            <header class="header">
                <h1>Citas del paciente </h1>
                <!-- Mostrar mensajes de flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

            </header>


            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>Temperatura</th>
                        <th>Latidos por min</th>
                        <th>Saturación</th>
                        <th>Glucosa</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if exploraciones %}
                    {% for cita in exploraciones %}
                    <tr>
                        <td>{{ cita.idcita }}</td>
                        <td>{{ cita.fecha }}</td>
                        <td>{{ cita.peso }} kg</td>
                        <td>{{ cita.altura }} m</td>
                        <td>{{ cita.temperatura }} °C</td>
                        <td>{{ cita.latidosmin }}lpm</td>
                        <td>{{ cita.saturacionoxigeno }}%</td>
                        <td>{{ cita.glucosa }}mg/dL</td>
                        <td>
                            <a href="{{ url_for('editar_exploracion', cita_id=cita.idcita) }}">
                                <button class="btn-editar">Editar</button>
                            </a>
                            
                            <a href="{{ url_for('crear_diagnostico', cita_id=cita.idcita) }}" class="btn-explorar">Diagnóstico</a>
                            <a href="#" class="btn-descargar">Descargar receta</a>
                            <form method="POST" action="#" style="display:inline;">
                                <button type="submit" class="btn-eliminar">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="8">Este paciente no tiene exploraciones registradas.</td>
                    </tr>
                    {% endif %}
                </tbody>

            </table>
        </main>
    </div>
</body>

</html>