<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Editar paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pacientes/AgregarEditarPaciente.css') }}">
</head>

<body>
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <div class="logo-wrapper">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="sidebar-iconLogo">
            </div>
        </aside>

        <div class="form-container">
            <h1>Editar paciente</h1>


            <div class="form-box">
                <form method="POST" action="{{ url_for('pacientes_editar', paciente_id=paciente.idpaciente) }}">
                    <label for="nombrecompleto">Nombre completo:</label>
                    <input type="text" name="nombre" value="{{ paciente.nombrecompleto }}" class="form-control">
                    {% if errores.nombre %}
                    <small class="text-danger" style="color: red;">{{ errores.nombre }}</small>
                    {% endif %}


                    <label for="fechanacimiento">Fecha de nacimiento:</label>
                    <input type="date" name="fecha_nacimiento" value="{{ paciente.fechanacimiento }}"
                        class="form-control">
                    {% if errores.fecha_nacimiento %}
                    <small class="text-danger" style="color: red;">{{ errores.fecha_nacimiento }}</small>
                    {% endif %}


                    <label for="enfermedadescronicas">Enfermedades crónicas:</label>
                    <input type="text" id="enfermedadescronicas" name="enfermedadescronicas"
                        value="{{ paciente.enfermedadescronicas if paciente.enfermedadescronicas else '' }}"
                        placeholder="(Opcional)">

                    <label for="alergias">Alergias:</label>
                    <input type="text" id="alergias" name="alergias"
                        value="{{ paciente.alergias if paciente.alergias else '' }}" placeholder="(Opcional)">

                    <label for="antecedentesfam">Antecedentes familiares:</label>
                    <input type="text" id="antecedentesfam" name="antecedentesfam"
                        value="{{ paciente.antecedentesfam if paciente.antecedentesfam else '' }}"
                        placeholder="(Opcional)">

                    <div class="form-buttons">
                        <button type="submit" class="guardar">Guardar cambios</button>
                        <a href="{{ url_for('pacientes') }}" class="cancelar">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>