<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Editar exploración del paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pacientes/AgregarEditarExploracion.css') }}">
</head>

<body>
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <div class="logo-wrapper">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="sidebar-iconLogo">
            </div>
        </aside>

        <div class="form-container">
            <div class="form-box">
                <h1>Editar exploración del paciente</h1>

                <form method="POST">
                    <label for="fecha">Fecha:</label>
                    <input type="date" name="fecha" value="{{ cita.fecha }}">
                    {% if errors.fecha %}
                    <small class="text-danger" style="color: red;">{{ errors.fecha }}</small>
                    {% endif %}

                    <label for="peso">Peso:</label>
                    <input type="text" name="peso" value="{{ cita.peso }}" placeholder="Valor en kg">
                    {% if errors.peso %}
                    <small class="text-danger" style="color: red;">{{ errors.peso }}</small>
                    {% endif %}

                    <label for="altura">Altura:</label>
                    <input type="text" name="altura" value="{{ cita.altura }}" placeholder="Valor en metros">
                    {% if errors.altura %}
                    <small class="text-danger" style="color: red;">{{ errors.altura }}</small>
                    {% endif %}

                    <label for="temperatura">Temperatura:</label>
                    <input type="text" name="temperatura" value="{{ cita.temperatura }}" placeholder="Valores entre 20° y 40° Celcius">
                    {% if errors.temperatura %}
                    <small class="text-danger" style="color: red;">{{ errors.temperatura }}</small>
                    {% endif %}

                    <label for="latidos">Latidos por minuto:</label>
                    <input type="text" name="latidos" value="{{ cita.latidosmin }}" placeholder="Valores entre 20lpm y 300lpm">
                    {% if errors.latidos %}
                    <small class="text-danger" style="color: red;">{{ errors.latidos }}</small>
                    {% endif %}

                    <label for="saturacion">Saturación de oxígeno:</label>
                    <input type="text" name="saturacion" value="{{ cita.saturacionoxigeno }}" placeholder="Valor entre 80% y 100%">
                    {% if errors.saturacion %}
                    <small class="text-danger" style="color: red;">{{ errors.saturacion }}</small>
                    {% endif %}

                    <label for="glucosa">Glucosa:</label>
                    <input type="text" name="glucosa" value="{{ cita.glucosa }}" placeholder="Valor entre 40 y 150 mg/dL">
                    {% if errors.glucosa %}
                    <small class="text-danger" style="color: red;">{{ errors.glucosa }}</small>
                    {% endif %}

                    <div class="form-buttons">
                        <button type="submit" class="guardar">Actualizar</button>
                        <a href="{{ url_for('citas_paciente', paciente_id=cita['idpaciente']) }}" class="cancelar">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

</html>