<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pacientes/pacientes.css') }}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
        <div class="logo-wrapper">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="sidebar-iconLogo">
        </div>
            <img src="{{ url_for('static', filename='img/usuario.png') }}" alt="Usuarios" class="sidebar-icon">
            <a href="{{ url_for('Salir') }}">
                <img src="{{ url_for('static', filename='img/CerrarSesion.png') }}" alt="Salir" class="sidebar-iconSalir logout">
            </a>
        </aside>

        <main class="main">
            <header class="header">
                <h1>Pacientes</h1>
                <a href="{{ url_for('pacientes_agregar') }}" class="btn-agregar">Agregar</a>
            </header>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flash-messages">
                  {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <h3>Buscador</h3>
            <div class="buscador">
                <input type="text" id="buscador" placeholder="Buscar paciente...">
               <button class="btn-buscar"><img src="{{ url_for('static', filename='img/lupa.png') }}" alt="Buscar"></button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha Nacimiento</th>
                        <th>Enfermedades</th>
                        <th>Alergias</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {# Itera sobre la lista de pacientes proporcionada por la ruta de Flask #}
                    {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.idpaciente }}</td>
                        <td>{{ paciente.nombrecompleto }}</td>
                        <td>{{ paciente.fechanacimiento }}</td>
                        {# Muestra 'N/A' si el campo es nulo o vacío #}
                        <td>{{ paciente.enfermedadescronicas if paciente.enfermedadescronicas else 'N/A' }}</td>
                        <td>{{ paciente.alergias if paciente.alergias else 'N/A' }}</td>
                        <td>
                            <button class="btn-editar"><a href="/pacientes/editar/{{ paciente.idpaciente }}" >Editar</a></button>
                            <button class="btn-explorar"><a href="{{ url_for('exploracion_formulario', paciente_id=paciente.idpaciente) }}" class="btn exploracion">Exploración</a></button>
                            <button class="btn-eliminar">Eliminar</button>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">No hay pacientes asignados a este médico.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>